<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.3" targetFramework="net461" />
  <package id="Google.Apis" version="1.35.1" targetFramework="net461" />
  <package id="Google.Apis.Auth" version="1.35.1" targetFramework="net461" />
  <package id="Google.Apis.Core" version="1.35.1" targetFramework="net461" />
  <package id="Google.Apis.Drive.v3" version="1.35.1.1330" targetFramework="net461" />
  <package id="Google.Apis.Sheets.v4" version="1.35.1.1335" targetFramework="net461" />
  <package id="Google.GData.Client" version="2.2.0.0" targetFramework="net461" />
  <package id="Google.GData.Extensions" version="2.2.0.0" targetFramework="net461" />
  <package id="log4net" version="2.0.10" targetFramework="net461" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.3.0" targetFramework="net461" />
  <package id="Microsoft.AspNet.SignalR.SelfHost" version="2.3.0" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.6" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.6" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.6" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.OwinSelfHost" version="5.2.6" targetFramework="net461" />
  <package id="Microsoft.Owin" version="4.2.2" targetFramework="net461" />
  <package id="Microsoft.Owin.Diagnostics" version="4.0.0" targetFramework="net461" />
  <package id="Microsoft.Owin.FileSystems" version="4.0.0" targetFramework="net461" />
  <package id="Microsoft.Owin.Host.HttpListener" version="4.0.0" targetFramework="net461" />
  <package id="Microsoft.Owin.Hosting" version="4.0.0" targetFramework="net461" />
  <package id="Microsoft.Owin.Security" version="4.0.0" targetFramework="net461" />
  <package id="Microsoft.Owin.SelfHost" version="4.0.0" targetFramework="net461" />
  <package id="Microsoft.Owin.StaticFiles" version="4.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="Owin" version="1.0" targetFramework="net461" />
  <package id="Zlib.Portable.Signed" version="1.11.0" targetFramework="net461" />
</packages>